$purple: #505BDA;
$teal: #4FC5BC;
$red: #FD7A5C;
$yellow: #FEB72B;
$light-gray: #F2F2F2;
$med-gray: #B2B2B2;
$black: #000000;
$white: #FFFFFF;

$primary-color: $purple;
$secondary-color: $yellow;

$highlight-color: $teal;
$button-color: $teal;
$text-color: $white;
$inverse-text-color: $white;
