$purple: #505BDA;
$teal: #4FC5BC;
$red: #FD7A5C;
$yellow: #FEB72B;
$light-gray: #EFEFEF;
$med-gray: #B2B2B2;
$black: #000000;
$white: #F5F5F5;

$primary-color: $purple;
$secondary-color: $yellow;

$background-color: $white;
$highlight-color: $teal;
$button-color: $teal;
$secondary-button-color: $purple;
$text-color: $white;
$inverse-text-color: $white;
$research-color: $teal;
$link-color: $teal;
$inverse-link-color: $white;
