@mixin card($bg-color, $shadow-color, $text-color: 0) {
  $shadow-depth: 10px;
  @if $text-color {
    color: $text-color;
  }
  box-shadow: $shadow-depth $shadow-depth $shadow-color;
  background-color: $bg-color;
  border-radius: 0;
  border: 0;
  transition: box-shadow 0.3s ease-in-out;

  &.clickable:hover {
    $hover-depth: $shadow-depth * 2;
    box-shadow: $hover-depth $hover-depth $shadow-color;
    cursor: pointer;
  }

  .card-title {
    font-size: 28px;
  }
}

@mixin highlights($highlight-color) {
  dl {
    border-left-color: $highlight-color;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  dt {
    margin-bottom: 20px;
  }
}

@mixin link($color) {
  a {
    color: $color;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }
}

@mixin h2($title-font, $bold, $resize) {
  font-family: $title-font;
  font-weight: $bold;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 20px;

  @media(min-width: $resize) {
    font-size: 28px;
    line-height: 40px;
  }
}
