@mixin card($bg-color, $shadow-color, $text-color: 0) {
  $shadow-depth: 10px;
  @if $text-color {
    color: $text-color;
  }
  box-shadow: $shadow-depth $shadow-depth $shadow-color;
  background-color: $bg-color;
  border-radius: 0;
  border: 0;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    $hover-depth: $shadow-depth * 2;
    box-shadow: $hover-depth $hover-depth $shadow-color;
  }

  .card-title {
    font-size: 28px;
  }
}
