@import "../../styles/_colors.scss";
@import "../../styles/_mixins.scss";

.primary-background {
  @include link($inverse-link-color);
  background-color: $primary-color;
  color: $inverse-text-color;
}

.nav-tabs {
  .nav-link {
    border: 0;
  }
  .nav-item {
    @include link($inverse-link-color);
    margin-right: 10px;
    a {
      background-color: $secondary-color;
      border: 0;
      border-radius: 0;
      text-decoration: none;
    }

    a.active {
      background-color: $primary-color;
      border: 0;
      color: $inverse-text-color;
    }
  }
}
