@import "../../styles/_colors.scss";
@import "../../styles/_breakpoints.scss";

.card-section {
  background-color: $research-color;

  .card {
    top: -50px;
    border-radius: 0;
    border: 0;
    background-color: $light-gray;
  }

  .card-section-image {
    max-width: 200px;
    margin: auto;
    padding-bottom: 50px;

    @media(min-width: $md) {
      padding-top: 40px;
    }

    @media(min-width: $lg) {
      max-width: unset;
      max-width: 300px;
    }
  }
}
