@font-face {
  font-family: "Lora";
  src: url("Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("Lora-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url("NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("NunitoSans-Bold.ttf");
  font-weight: bold;
}
