@import "../styles/_colors.scss";
@import "../styles/_breakpoints.scss";

html {
    scroll-behavior: smooth;
}

.privacy-page {
  $title-font: "Lora", serif;
  $body-font: "Nunito", arial;

  .site-name {
    font-family: $title-font;
  }

  body {
    font-family: $body-font;
    font-size: 16px;
    @media(min-width: $md) {
      font-size: 18px;
    }
  }

  p {
    font-family: $body-font;
    font-size: 16px;
    @media(min-width: $md) {
      font-size: 18px;
    }
  }

  h1 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 24px;

    @media(min-width: $md) {
      font-size: 48px;
    }

    &.title {
      font-family: $title-font;
      font-size: 36px;
      @media(min-width: $md) {
        font-size: 72px;
      }
    }
  }

  h2 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 18px;

    @media(min-width: $md) {
      font-size: 36px;
    }
  }

  .subheading-1 {
    font-family: $body-font;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    @media(min-width: $md) {
      font-size: 36px;
      line-height: 48px;
    }
  }

  .subheading-2 {
    font-family: $body-font;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    @media(min-width: $md) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .btn-primary {
    background-color: $button-color;
    border-color: $button-color;

    &:hover {
      color: $button-color;
      background-color: $white;
      border-color: $button-color;
    }
  }

}

.min-full-height {
  min-height: calc(100vh);
}

.half-highlight {
  background-image: linear-gradient(180deg, transparent 65%, $highlight-color 0);
}
