@import "../styles/_colors.scss";
@import "../styles/_breakpoints.scss";


html {
    scroll-behavior: smooth;
}

.min-full-height {
  min-height: calc(100vh);
}

.half-highlight {
  background-image: linear-gradient(180deg, transparent 65%, $highlight-color 0);
}

.secondary-background {
  background-color: $secondary-background-color;
}

.policy-main-background {
  @media(min-width: $md) {
    background-image: linear-gradient(0deg, transparent 85%, $secondary-background-color 0);
  }
}
