@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Nunito+Sans:400,700&display=swap');

@import "../styles/_colors.scss";
@import "../styles/_breakpoints.scss";
@import "../styles/_mixins.scss";

$bold: 700;
$regular-weight: 400;
$title-font: "Lora";
$body-font: "Nunito Sans", arial;

html {
    scroll-behavior: smooth;
    background-color: $background-color;
}

.privacy-page {
  background-color: $background-color;

  main {
    $spacing: 20px;
    padding-left: $spacing;
    padding-right: $spacing;

    @media(min-width: $md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .site-name {
    font-family: $title-font;
  }

  body {
    font-family: $body-font;
    font-size: 18px;
    line-height: 28px;
    font-weight: $regular-weight;
  }

  p {
    font-family: $body-font;
    font-size: 16px;
    @media(min-width: $md) {
      font-size: 18px;
    }
  }

  dl {
    dt {
      font-weight: $bold;
    }
    font-family: $body-font;
  }

  h1 {
    font-family: $title-font;
    font-weight: $bold;
    font-size: 28px;
    line-height: 36px;

    @media(min-width: $md) {
      font-size: 36px;
      line-height: 48px;
    }

    &.title {
      font-family: $title-font;
      font-size: 36px;
      font-weight: $bold;
      @media(min-width: $md) {
        font-size: 72px;
        line-height: 92px;
      }
    }
  }

  h2 {
    font-family: $title-font;
    font-weight: $bold;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;

    @media(min-width: $md) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .subheading-1 {
    font-family: $body-font;
    font-weight: $regular-weight;
    font-size: 21px;
    line-height: 29px;
    @media(min-width: $md) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .subheading-2 {
    font-family: $body-font;
    font-weight: $bold;
    font-size: 18px;
    line-height: 28px;
    @media(min-width: $md) {
      font-size: 22px;
      line-height: 32px;
    }
  }

  button {
    font-family: $body-font;
  }

  .btn-primary {
    background-color: $button-color;
    border-color: $button-color;

    &:hover {
      color: $button-color;
      background-color: $white;
      border-color: $button-color;
    }
  }

  .btn-secondary {
    background-color: $secondary-button-color;
    color: $inverse-text-color;
    border-radius: 0;
    border: 0;
  }

  .learnings {
    @include highlights($highlight-color);
  }
}

.min-full-height {
  min-height: calc(100vh);
}

.half-highlight {
  background-image: linear-gradient(180deg, transparent 65%, $highlight-color 0);
}

.privacy-modal {
  .modal-content {
    font-family: $body-font;
    border: 0;
    border-radius: 0;

    .modal-header {
      border: 0;
      font-family: $title-font;
    }

    .modal-body {
      $v-padding: 15px;
      $h-padding: 60px;
      padding-top: $v-padding;
      padding-bottom: $v-padding * 2;
      padding-left: $h-padding;
      padding-right: $h-padding;
    }
  }
}
