@import "../../styles/_colors.scss";
@import "../../styles/_breakpoints.scss";

.landing-jumbotron {

  .jumbotron-image {
    max-width: 200px;
    margin: auto;

    @media(min-width: $md) {
      max-width: unset;
    }
  }

  .description {
    @media(min-width: $sm) {
      padding-left: unset;
      padding-right: unset;
    }
  }

  .title-row {
    padding-top: 40px;

    h1 {
      min-height: 100px;

      @media(min-width: $lg) {
        min-height: 300px;
        padding-top: 90px;
      }
    }
  }
}
